@media(max-width:1300px){

.header-list{
    display: none;
}

.side-list{
    display: block;
    width:500px;
}


.fa-bars{
    display: block;
    font-size:40px;
    color:black;
    position:absolute;
    top:30px;
    left:90%;
}

.article-top{
    width:70%;
}

.article-contents li{
    margin:0 auto;
    text-align: center;
    padding:initial;
}

.content-enter{
    width:60%;
}

.content-program{
    width:60%;
}

.content-play{
    width:60%;
}

}



@media(max-width:670px){

.header-list{
    display:none;
}

.side-list{
    display: block;
}

.fa-bars{
    display: block;
    font-size:40px;
    color:black;
    position:absolute;
    top:30px;
    left:90%;
}

.slide-image{
    width:100%;
}

.article-top{
    width:90%;
}

.article-contents li{
    margin:0 auto;
    text-align: center;
    padding:initial;
}

.content-enter{
    width:80%;
}

.content-program{
    width:90%;
}

.content-play{
    width:98%;
}

}
