@media(max-width:1300px){

.header-list{
    display: none;
}

.side-list{
    display: block;
    width:750px;
}



.fa-bars{
    display: block;
    font-size:40px;
    color:black;
    position:absolute;
    top:30px;
    left:90%;
}

.article-top{
    width:70%;
}

.article-contents li{
    margin:0 auto;
    text-align: center;
    padding:initial;
}

.content-enter{
    width:60%;
}

.content-program{
    width:60%;
}

.content-play{
    width:60%;
}

footer{
    height:450px;
}

.footer-company{
    width:95%;
    margin-bottom:0;
}

.footer-SNS{
    width:100%;
    padding-bottom: 50px;
}

.twitter-btn{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-30%, -50%);
}

.youtube-btn{
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-70%, -50%);
}

}



@media(max-width:670px){

.header-list{
    display:none;
}

.side-list{
    display: block;
}

.fa-bars{
    display: block;
    font-size:40px;
    color:black;
    position:absolute;
    top:30px;
    left:90%;
}



.slide-image{
    width:100%;
}

.article-top{
    width:90%;
}

.article-contents li{
    margin:0 auto;
    text-align: center;
    padding:initial;
}

.content-enter{
    width:80%;
}

.content-program{
    width:90%;
}

.content-play{
    width:98%;
}

footer{
    height:800px;
}

.footer-company{
    padding-top:40px;
}

.footer-SNS{
    height:200px;
    padding: 0;
    background-color:#9BA4B5;
}

.twitter-btn{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
}

.youtube-btn{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);  
}

}
