* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #212a3e;
  font-family: serif;
}

header {
  line-height: 100%;
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: white;
  height: 100px;
}

.header-logo {
  float: left;
  text-align: center;
  padding: 0 10px;
  font-size: 20px;
}

.header-list {
  float: right;
  padding-right: 70px;
}

.header-list li {
  list-style: none;
  float: left;
  padding-right: 50px;
  text-align: center;
}

.header-list li p {
  color: gray;
}

.side-list {
  display: none;
  float: right;
  background-color: #f1f6f9;
  opacity: 0.8;
  width: 350px;
  height: 100%;
  top: 0;
  left: 150%;
  position: fixed;
}

.side-list li {
  list-style: none;
  margin-top: 40px;
}

.sile-list ul {
  margin: 0;
  padding: 0;
  top: 50px;
  left: 400px;
  position: absolute;
}

.fa-bars {
  display: none;
}

.list-content {
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: all 0.3s;
  font-family: "Georgia";
}

.list-content:hover {
  color: orange;
}

main {
  padding-top: 100px;
  background-color: #f1f6f9;
}

.content h3 {
  font-size: 50px;
  display: inline-block;
  width: 50%;
  border-bottom: 2px solid #9ba4b5;
}

.content p {
  font-size: 30px;
}

.content {
  text-align: center;
}

.img-itibu img {
  width: 100%;
}

.img-nibu img {
  width: 100%;
}

.img-sanbu img {
  width: 100%;
}

footer {
  height: 300px;
  background-color: #9ba4b5;
  display: flex;
  flex-wrap: wrap;
}

.footer-company {
  width: 75%;
  text-align: center;
  margin: auto;
}

.footer-company img {
  width: 300px;
  height: 100px;
}

.footer-SNS {
  width: 25%;
  position: relative;
}

.twitter-btn {
  background-color: rgb(56, 163, 229);
  display: block;
  width: 150px;
  font-size: 20px;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  padding: 5px 10px;
  font-family: serif;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
}

.youtube-btn {
  background-color: red;
  display: block;
  width: 150px;
  font-size: 20px;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  padding: 5px 10px;
  font-family: serif;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
}

.fa {
  padding-right: 20px;
}

@media (max-width: 1300px) {
  .header-list {
    display: none;
  }

  .side-list {
    display: block;
    width: 750px;
  }

  .fa-bars {
    display: block;
    font-size: 40px;
    color: black;
    position: absolute;
    top: 30px;
    left: 90%;
  }

  footer {
    height: 450px;
  }

  .footer-company {
    width: 95%;
    margin-bottom: 0;
  }

  .footer-SNS {
    width: 100%;
    padding-bottom: 50px;
  }

  .twitter-btn {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-30%, -50%);
  }

  .youtube-btn {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-70%, -50%);
  }
}

@media (max-width: 670px) {
  .header-list {
    display: none;
  }

  .side-list {
    display: block;
  }

  .fa-bars {
    display: block;
    font-size: 40px;
    color: black;
    position: absolute;
    top: 30px;
    left: 90%;
  }

  .content h3 {
    width: 90%;
  }

  footer {
    height: 800px;
  }

  .footer-company {
    padding-top: 40px;
  }

  .footer-SNS {
    height: 200px;
    padding: 0;
    background-color: #9ba4b5;
  }

  .twitter-btn {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
  }

  .youtube-btn {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
  }
}
